/* Common classes */

:root {
  --color-green: #65dfc9;
  --color-blue: #6cdbeb;
  --color-purple: #845ec2;
  --color-pink: #ff6f91;
  --color-peach: #ff9671;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}

body {
  font-size: 1.618rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

h1 {
  font-size: 6.854rem;
}

p {
  font-weight: bold;
  margin: 1rem 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right top,
    var(--color-green),
    var(--color-blue)
  );
  padding: 2rem 0;
}

/*BG */
.bg {
  position: relative;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  width: 80%;
  height: 100%;
  max-height: 90rem;
  border-radius: 5px;
  z-index: 2;
  padding: 2rem 0;

  /* Center items in the middle */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.circle {
  width: 30rem;
  height: 30rem;
  background-color: var(--color-purple);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: white;
  background: linear-gradient(
    to right bottom,
    var(--color-pink),
    var(--color-peach)
  );
  opacity: 0.7;
}

.circle-1 {
  top: 5rem;
  right: 8rem;
}

.circle-2 {
  bottom: 5rem;
  left: 5rem;
}

/* Choice Picker */

.choice-picker {
  width: 100%;
  max-height: 60%;
  text-align: center;
  padding: 1rem;
}

.choice-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-picker h1,
.choice-picker h3 {
  margin-bottom: 1rem;
}

#textarea {
  display: inline-block;
  margin: 1.2rem;
  padding: 1rem 2rem;
  font-family: inherit;
  border: none;
  width: 40rem;
  max-width: 100%;
  height: 15rem;
  max-height: 15rem;
}

.tag {
  display: inline-block;
  background-color: var(--color-pink);
  color: aliceblue;
  font-weight: bold;
  padding: 1rem 1.25rem;
  margin: 0 0.4rem 0.2rem;
  border-radius: 0.5rem;
}

.tag.highlight {
  background-color: var(--color-peach);
}

#answer {
  font-size: 4.236rem;
  font-weight: bold;
  color: var(--color-peach);
  margin-bottom: 0;
}

/* Joke simulator */

.joke-simulator {
  padding: 2rem;
  min-height: 40%;
  width: 100%;
  text-align: center;
}

.joke {
  font-size: 2.618rem;
  letter-spacing: 0.05rem;
  color: var(--color-pink);
  font-weight: 600;
  margin: auto;
  padding: 2rem 0;
  width: 60%;
  text-align: center;
}

.joke-btn {
  padding: 2rem 3rem;
  font-size: 2.618rem;
  border: none;
  background-color: var(--color-purple);
  color: aliceblue;
  border-radius: 0.3rem;
  transition: background-color 0.3s, opacity 0.3s;
}

.joke-btn:hover {
  background-color: var(--color-pink);
  opacity: 0.8;
}

.joke-btn:active {
  background-color: var(--color-purple);
}

/* Footer */

.footer {
  padding: 1rem;
}

.red {
  color: red;
}

/* Responsive */

@media (max-width: 93.75em) {
  h1 {
    font-size: 4.236rem;
  }

  .bg {
    padding: 3rem;
  }

  .circle {
    width: 20rem;
    height: 20rem;
  }

  .circle-1 {
    top: 1rem;
    right: 4rem;
  }

  .circle-2 {
    bottom: 1rem;
    left: 2.5rem;
  }
}

@media (max-width: 62.5em) {
  .circle {
    width: 15rem;
    height: 15rem;
  }

  .circle-1 {
    top: 0.2rem;
    right: 2rem;
  }

  .circle-2 {
    bottom: 0.2rem;
    left: 1.25rem;
  }

  #textarea {
    width: 80%;
  }

  .joke {
    width: 80%;
  }
}

@media (max-width: 43.75em) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 4.236rem;
    margin-bottom: 1rem 0;
  }

  .bg {
    max-height: 190rem;
  }

  .circle {
    display: none;
    visibility: hidden;
  }

  #textarea {
    width: 90%;
    margin: 3rem 0;
  }

  .joke {
    width: 100%;
  }
}

@media (max-width: 31.25em) {
  html {
    font-size: 35%;
  }

  .tag {
    padding: 1rem;
  }
}

@media (max-width: 21.875em) {
  html {
    font-size: 30%;
  }
}
